APP_ENV=development

EXPO_PUBLIC_API_BASE_URL_DEVELOPMENT=http://localhost:3000/api
EXPO_PUBLIC_STELLAR_RPC_URL_DEVELOPMENT=https://soroban-testnet.stellar.org
EXPO_PUBLIC_STELLAR_NETWORK_DEVELOPMENT=testnet

EXPO_PUBLIC_SENTRY_DSN=
