APP_ENV=preview

EXPO_PUBLIC_API_BASE_URL_PREVIEW=https://staging-api.hunty.app
EXPO_PUBLIC_STELLAR_RPC_URL_PREVIEW=https://soroban-testnet.stellar.org
EXPO_PUBLIC_STELLAR_NETWORK_PREVIEW=testnet

EXPO_PUBLIC_SENTRY_DSN=
